<!-- Footer -->
<footer class="page-footer font-small blue pt-4">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
        <strong>Created by {{name}}</strong>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->